/*
 * Tweak the overal size to better match RTD.
 */
html {
    font-size: 90%;
}

body {
    font-size: 100%;
    background: #FFFFFF;
}

h3, h4, h5, h6 {
    color: #2980b9;
    font-weight: 300
}

.container-fluid{
  background-color: #f8f8f8;
  border-bottom-width:2px;
  border-bottom-style: solid;
  border-bottom-color:#e5e5e5;
  margin-bottom: 32px;
}
.container{
  max-width:1200px;
}

#doc-icon{
  float: left;
  margin-left: 30px;
  margin-right: 18px;
  padding-top: 10px;
}

#home-url{
  float: left;
  padding-top: 12px;
}

#home-url a{
  font-size: 20px;
  color:#3a3a3a;
}

#rtd-search-form{
  width: 160px;
  height: 30px;
  border: 1px;
  border-color: #c9c9c9;
  margin: 10px;
}

#rtd-search-form  input{
  width: 160px;
  height: 30px;
}

.nav-tabs li {
  width: 25%;
  text-align: center;
}

.nav-tabs li a{
  color: #3a3a3a;
}

.header ul{
    margin:0px;
    padding:0px;
}

.nav-tabs{
    border-bottom:0px;
}

.wy-menu {
    background: #f8f8f8;
    width: 240px;
}

.subnav{
    min-height: 30px;
}

.subnav a{
    list-style-type:none;
    min-height: 30px;
    font-size: 14px;
    color:#666666;
}


.wy-menu li:first-child .subnavul{
    padding-top: 24px;
    padding-bottom: 12px;
}

.wy-menu  ul .subnavli_single{
  padding-left: 10px;
  height: 30px;
  padding-top: 7px;
}

.subnavli_single a{
  padding-left: 16px;
}

.wy-menu  ul .subnavli a{
  padding-left: 16px;
}

.wy-menu ul li{
  width: 240px;
}

.subnavul .toctree-l1{
    display: none;
    padding-left: 20px;
    height: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.subnavul .toctree-l1 a{
  margin-left: 16px;
}

li .current{
  background: #1d75bb;
}

li .current a{
  color: #FFFFFF;
}


.subnavli{
  min-height: 30px;
  width: 220px;
  padding-left: 10px;
  padding-top: 7px;
}

.nav-icon{
  margin-right: 20px;
  min-height: 30px;
  width: 30px;
  float: right;
}

.nav-icon  img{
  max-width: 14px;
  max-height: 14px;
}

#breadcrumbs{
  border-style:none;
}

.rst-content {
  margin-left: 15px;
  margin-right: 15px;
  word-break:break-all;
}


.section h1{
  font-size: 28px;
  color: #1d75bb;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 52px;
}


.section h2{
  font-size: 24px;
  color: #666666;
  font-weight: bold;
  margin-bottom: 24px;
}

.section h3{
  font-size: 18px;
  color: #666666;
  font-weight: bold;
  margin-bottom: 24px;
}

#tocright{
  margin-top: 50px;
  width: 200px;
  padding-left: 10px;
  border-left-width:2px;
  border-left-style:solid;
  border-left-color:#1d75bb;
}

#tocright a{
  font-size: 12px;
  color: #666666;
  margin: 2px;

}

#tocright a:hover{
  color: #1d75bb;
  font-weight: bold;
}

code {
    white-space: pre;
}

pre>code:before, .method-declaration code:before{
  content: "";
}

pre code{
  color: #111111;
}
pre>code{
  border-left: 0px;
}


p code {
    word-wrap: break-word;
}

/*
 * The CSS classes from highlight.js seem to clash with the
 * ReadTheDocs theme causing some code to be incorrectly made
 * bold and italic.
 *
 * https://github.com/mkdocs/mkdocs/issues/411
 */
code.cs, code.c {
    font-weight: inherit;
    font-style: inherit;
}

/*
 * Fix some issues with the theme and non-highlighted code
 * samples. Without and highlighting styles attached the
 * formatting is broken.
 *
 * https://github.com/mkdocs/mkdocs/issues/319
 */
.no-highlight {
  display: block;
  padding: 0.5em;
  color: #333;
}


/*
 * Additions specific to the search functionality provided by MkDocs
 */

#mkdocs-search-results article h3
{
    margin-top: 23px;
    border-top: 1px solid #E1E4E5;
    padding-top: 24px;
}

#mkdocs-search-results article:first-child h3 {
    border-top: none;
}

#mkdocs-search-query{
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #D1D4D5;
}

.wy-menu li ul {
    display: inherit;
}


 div.admonition code {
  color: #404040;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.7);
}

.subnavul li{
  list-style-type: none;
}

.subnavul{
  list-style-type: none;
}

.toctree-l1 {
    display: none;
}
